/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2"), url("../fonts/inter-v12-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.woff2") format("woff2"), url("../fonts/inter-v12-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-latin-300.woff2") format("woff2"), url("../fonts/inter-v12-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
body {
  background: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
@media (max-width: 375px) {
  body {
    font-size: 12px;
    line-height: 22px;
  }
}

.wrapper {
  display: flex;
  position: absolute;
  opacity: 0.4;
  width: min(100%, 100vw);
  min-height: 100vh;
  z-index: -1;
  background-image: url("../imgs/jpg/img4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  position: relative;
  width: min(100%, 1162px);
  margin: 0 auto;
  padding: 56px 26px;
  z-index: 1;
  margin-bottom: 177px;
}
@media (max-width: 768px) {
  .header {
    padding: 80px 64px 0px;
    margin-bottom: 332px;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 80px 34px;
  }
}
@media (max-width: 375px) {
  .header {
    padding: 32px 26px;
  }
}

.header__wrap__text {
  width: min(100%, 540px);
  color: #fff;
  margin-bottom: 13px;
  position: relative;
  display: flex;
  z-index: 100;
  gap: 20px;
}
@media (max-width: 576px) {
  .header__wrap__text {
    width: min(100%, 390px);
    margin-bottom: 8px;
  }
}
@media (max-width: 375px) {
  .header__wrap__text {
    width: min(100%, 290px);
    margin-bottom: 8px;
  }
}

.refresh {
  position: absolute;
  left: 49%;
  top: 28%;
}
@media (max-width: 768px) {
  .refresh {
    left: 48%;
  }
}
.subtitle {
  font-weight: 700;
}

.text2 {
  display: none;
}

.moon {
  display: none;
}

.none {
  display: block;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: 1px dashed #000;
  outline-offset: 1px;
}

html {
  height: 100%;
  scroll-behavior: initial;
}

body {
  height: 100%;
  font-family: "Inter", "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

img {
  display: flex;
}

ul {
  list-style: none;
}

.button__wrap {
  width: min(100%, 1136px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .button__wrap {
    flex-direction: column;
  }
}

.box {
  width: min(100%, 484px);
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  align-items: end;
  gap: 15px;
  margin-bottom: 16px;
}
.list .subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 3.6px;
}
@media (max-width: 768px) {
  .list .subtitle {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 3.6px;
  }
}
.list .clock {
  display: flex;
  align-self: end;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
}
@media (max-width: 768px) {
  .list .clock {
    font-size: 175px;
    line-height: 175px;
    letter-spacing: -5px;
  }
}
@media (max-width: 576px) {
  .list .clock {
    padding: 80px 34px;
  }
}
@media (max-width: 375px) {
  .list .clock {
    padding: 32px 26px;
  }
}
.list .bst {
  display: flex;
  align-self: end;
  font-weight: 300;
  font-size: 40px;
  line-height: 28px;
  padding-bottom: 27px;
}

.button__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
@media (max-width: 768px) {
  .button__title {
    font-size: 18px;
    line-height: 28px;
  }
}

.button {
  display: flex;
  align-self: end;
  justify-self: end;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
  padding: 8px 9px 8px 21px;
  border-radius: 28px;
  background-color: #fff;
}
@media (max-width: 768px) {
  .button {
    justify-self: start;
    margin-top: 80px;
    align-self: start;
  }
}
.button .text {
  color: rgba(0, 0, 0, 0.5764705882);
}

.bar_togle {
  transform: translateY(100%);
}

.hidden {
  display: none;
}

.button__wrap2 {
  width: 100%;
  height: 50%;
  position: fixed;
  left: 0;
  top: 50vh;
  background: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(20.3871px);
          backdrop-filter: blur(20.3871px);
  transition: all 0.5s ease;
  display: flex;
  align-items: start;
}

.bar__list {
  padding: 74px 26px 0;
  width: min(100%, 1162px);
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 94px;
  margin: 0 auto;
  color: #303030;
  letter-spacing: 3px;
}
.bar__list .bar__item1 {
  padding-right: 148px;
  border-right: 1px solid #303030;
}
.bar__list .bar__item {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.bar__list .bar__item h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
  letter-spacing: 0;
  margin-bottom: 42px;
}
.bar__list .bar__item h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 9px;
}
.btn__img {
  transition: all 0.5s ease;
}

.btn__rotate {
  transform: rotate(180deg);
}

.padding {
  padding: 56px 26px 0;
}/*# sourceMappingURL=main.css.map */